select {
    background-color: rgba(48, 48, 48, 0.8) !important;
    color: white !important;
    optgroup {
        background-color: black !important;
        option {
            background-color: rgb(48, 48, 48) !important;
        }
    }
    option {
        background-color: rgb(48, 48, 48) !important;
    }
}

:host {
    margin: 0 !important;
    padding: 0 !important;
}