label {
    // color: rgba(255, 255, 255, 0.55) !important;
    color: rgba(255, 255, 255, 0.75) !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

select {
    background-color: rgb(88, 88, 88) !important;
    color: white !important;
    optgroup {
        background-color: black !important;
        option {
            background-color: rgb(48, 48, 48) !important;
        }
    }
    option {
        background-color: rgb(48, 48, 48) !important;
    }
}

:host {
    padding: 0px !important;
    margin: 0px !important;
}