<div *ngIf="checkStatus() === '/login' || checkStatus() === '/'">
    <router-outlet></router-outlet>
</div>
<ng-container *ngIf="checkStatus() !== '/login' && checkStatus() !== '/' ">
    <div class="d-flex flex-row justify-content-between">
        <r-navbar></r-navbar>
        <div class="outletContainer">
            <router-outlet></router-outlet>
        </div>
        <div class="mobile-content">
            <p>We feel your discomfort 😐, but this app is better viewed in desktops or larger screens.</p>
        </div>
    </div>
</ng-container>