.outletContainer,
.mobile-content {
    width: calc(100vw - 250px - 2rem);
    height: 100%;
}

.mobile-content {
    display: none;
    position: relative;
    width: 100vw;
    top: 40vh;
    left: 2rem;
    right: 1rem;
    p {
        margin: 0 1rem;
    }
}

r-navbar {
    display: block;
}

// XX-small device (old phones)
@media (max-width:575px) {
    .outletContainer {
        display: none;
    }
    .mobile-content {
        display: grid;
        place-content: center;
        left: 1rem;
        right: 3rem;
    }
    r-navbar {
        display: none;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (min-width: 576px) {
    .outletContainer {
        display: none;
    }
    .mobile-content {
        display: grid;
        place-content: center;
    }
    r-navbar {
        display: none;
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) {
    .outletContainer {
        display: block;
    }
    .mobile-content {
        display: none;
    }
    r-navbar {
        display: block;
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
    .outletContainer {
        display: block;
    }
    .mobile-content {
        display: none;
    }
    r-navbar {
        display: block;
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {
    .outletContainer {
        display: block;
    }
    .mobile-content {
        display: none;
    }
    r-navbar {
        display: block;
    }
}

// X-Large devices (large desktops, less than 1400px)
@media (min-width: 1400px) {
    .outletContainer {
        display: block;
    }
    .mobile-content {
        display: none;
    }
    r-navbar {
        display: block;
    }
}