<div class="extraBold mx-3 mt-4">Number metrics</div>
<div class="parent" *ngIf="this.provided_bk_details">
    <div class="class div1 boldText">Current Balance</div>
    <div class="class div2 extraBold">$1,20,500</div>
    <div class="class div3 boldText">This month expense</div>
    <div class="class div4 extraBold">$5000</div>
    <div class="class div5 boldText">This month gain</div>
    <div class="class div6 extraBold">$800
    </div>
</div>
<div class="case2" *ngIf="!this.provided_bk_details">
    <div class="pt-2 w-100">
        <div class="w-100" [formGroup]="bank_form">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Bank name</mat-label>
                <input matInput placeholder="Ex. Pizza" value="Sushi" class="w-100" formControlName="bank_name">
            </mat-form-field>
            <!-- </div> -->
            <!-- <div> -->
            <mat-form-field class="w-100 mt-2" appearance="outline">
                <mat-label>Current balance</mat-label>
                <input matInput placeholder="Ex. Pizza" type="number" value="00" class="w-100" formControlName="account_balance">
            </mat-form-field>
        </div>
        <button class="mt-2" mat-raised-button color="primary" (click)="$event.preventDefault(); submitForm()">Add bank</button>
    </div>
    <div class="note">
        <b>Note: </b> The above information is required to calculate average gain and loss to enhance user experience. We dont collect user's account details or card details.
    </div>
</div>