.matField {
    width: calc(100% - 2rem);
    margin: 0px 1rem !important;
}

.caps::first-letter {
    text-transform: capitalize;
}

.hideVisibility {
    visibility: hidden;
}

.parentContainer {
    position: relative;
    overflow: hidden;
    height: 100vh;
    .formsContainer {
        margin: 11% auto;
        display: flex;
        flex-direction: row;
        // flex-direction: row-reverse;
        width: calc(100vw - 2rem);
        height: auto;
        justify-content: space-between;
        align-items: center;
        form {
            width: 50%;
            .switch {
                margin: 1rem;
                color: rgb(14, 14, 194);
                text-align: right;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .reverseFlex {
        flex-direction: row-reverse;
        // transition: flex-direction 2s cubic-bezier(1.000, -0.375, 0.285, 0.995);
    }
    .hideBG {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 51%;
        background: rgb(255, 255, 255);
        .rLogo {
            width: 60px;
            height: 60px;
            background-color: rgb(223, 223, 223);
            border-radius: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                padding-right: 8px;
                width: 70%;
                height: auto;
            }
        }
        .imgContainer {
            position: relative;
            left: 70%;
            top: 0.75rem;
            width: 205px;
            height: auto;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.cardParent {
    .minicard {
        width: 180px;
        height: 250px;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
            width: 100%;
            height: 50%;
            border: 1px solid black;
        }
        .title {
            font-size: 16px;
            font-weight: 700;
            color: #f95959;
            text-align: center;
        }
        .button {
            // width: 60%;
            padding: 5px 1rem;
            border-radius: 20px;
            background-color: #f95959;
            color: #f7edd5;
        }
    }
}

// Brand Area
.brand {
    top: 11%;
    bottom: 11%;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    color: #fff;
    // min-height: 100vh;
    height: 600px;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(1.000, -0.375, 0.285, 0.995);
    z-index: 9999;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(52, 51, 56);
        z-index: -1;
    }
    .aeloT {
        display: block;
        font-size: 6rem;
        font-weight: 800;
        margin: 12rem auto 3rem;
        text-align: center;
    }
    .aeloC {
        display: block;
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        // font-family: 'Noto Serif Display', serif;
    }
}

.btn {
    // position: absolute;
    // right: 22%;
    // bottom: 1.5rem;
    padding: 0.3rem 1.75rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.signup {
    // background-color: #bbbbbb !important;
    background-color: #f95959 !important;
}

.login {
    bottom: 5rem !important;
}

// bootstrap breakpoints  576px, 768px, 992px, and 1200px
@media (max-width: 576px) {
    .hideVisibility {
        display: none;
    }
    .parentContainer {
        position: relative;
        .formsContainer {
            position: absolute;
            top: 12vh;
            left: 2vw;
            width: 100%;
            .login-form,
            .register-form {
                margin-right: 0px;
                width: 500px;
                .matField {
                    width: 318px;
                    margin: 0px 1rem !important;
                }
                .other-btns {
                    width: 318px;
                }
            }
            .register-form .switch {
                position: relative;
                right: 1rem;
                margin-right: 0;
            }
            .login-form .switch {
                position: relative;
                left: 1rem;
                margin-left: 0;
            }
        }
    }
    section#formHolder .form {
        width: 100vw;
        margin-left: 0;
    }
    h2 {
        font-size: 50px !important;
    }
    .hideBG {
        right: 5px !important;
        bottom: 100% !important;
        z-index: -1;
        // Brand Area
        .brand {
            box-shadow: none;
            &::before {
                height: 10%;
            }
            .rLogo {
                width: 50px;
                height: 50px;
                img {
                    padding-right: 6px;
                }
            }
            .aeloT {
                font-size: 2.5rem;
                margin: -2.95rem auto 5px;
            }
            .aeloC {
                color: #38723d;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
                margin-left: 5rem;
                padding-top: 8px;
                margin-top: 8px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        overflow: hidden;
    }
    section#formHolder {
        padding: 0;
        div.brand {
            min-height: 200px !important;
            z-index: -1;
            &.active {
                min-height: 100vh !important;
            }
            .heading.active {
                top: 200px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .success-msg {
                p {
                    font-size: 16px;
                }
                a {
                    padding: 5px 30px;
                    font-size: 10px;
                }
            }
        }
        .form {
            width: 80vw;
            min-height: 500px;
            margin-left: 10vw;
            .form-peice {
                margin: 0;
                top: 0;
                left: 0;
                width: 100% !important;
                transition: all .5s ease-in-out;
                &.switched {
                    transform: translateY(-100%);
                    width: 100%;
                    left: 0;
                }
                >form {
                    width: 100% !important;
                    padding: 60px;
                    left: 50%;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .parentContainer {
        transform: scale(0.93);
        .formsContainer {
            margin: 3% auto;
        }
    }
    .brand {
        top: 2.5%;
        bottom: 2.5%;
    }
}