<div class="parentContainer">
    <div class="formsContainer">
        <form class="mt-3 mx-lg-4 mx-sm-2" [formGroup]="loginForm">
            <mat-form-field appearance="standard" class="matField" *ngFor="let item of loginFormElement">
                <mat-label>{{item.labelName}}</mat-label>
                <input matInput [placeholder]="item.placeholder" [type]="item.type" [formControlName]="item.fcName">
                <mat-icon matSuffix>{{item.iconName}}</mat-icon>
            </mat-form-field>
        </form>
        <form class="mt-3 mx-lg-4 mx-sm-2" [formGroup]="loginForm">
            <mat-form-field appearance="standard" class="matField" *ngFor="let item of regFormElement">
                <mat-label>{{item.labelName}}</mat-label>
                <input matInput [placeholder]="item.placeholder" [type]="item.type" [formControlName]="item.fcName">
                <mat-icon matSuffix>{{item.iconName}}</mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div class="hideBG">
        <h1>Aelo</h1>
    </div>
</div>