<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field class="example-chip-list" appearance="outline">
            <mat-label>{{data.label}}</mat-label>
            <mat-chip-list #chipList aria-label="Edit dropdown options">
                <mat-chip *ngFor="let item of options" [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
                    {{item.name}}
                    <button matChipRemove *ngIf="removable">
                    <mat-icon>cancel</mat-icon>
                </button>
                </mat-chip>
                <input [placeholder]="data.placeholder" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="$event.preventDefault(); onClose()">Cancel</button>
    <button mat-button [mat-dialog-close]="'exit'" (click)="$event.preventDefault(); onSave()" cdkFocusInitial>Save</button>
</div>