<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>{{label}}</mat-label>
    <mat-chip-list #chipList aria-label="Edit dropdown options">
        <mat-chip *ngFor="let item of options" [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
            {{item.name}}
            <button matChipRemove *ngIf="removable">
          <mat-icon>cancel</mat-icon>
        </button>
        </mat-chip>
        <input placeholder="New item..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
</mat-form-field>