<div class="nav-layout">
    <div class="logo">
        <img src="../../assets/logo.svg" alt="R logo">
        <p>Aelo book</p>
    </div>
    <div class="content">
        <ng-container *ngFor="let item of links">
            <div class="nav-item" (click)="$event.preventDefault();routeTo(item.link)">
                <div class="nav-hover-eff"></div>
                <div class="nav-icon"><i [class]="item.icon  + ' icon'"></i></div>
                <div class="nav-text">{{item.text}}</div>
            </div>
        </ng-container>
    </div>
</div>