.blackboard {
    width: 360px;
    height: 325px;
    margin: 1rem 5px;
    background-color: black;
    border-radius: 3px;
    * {
        color: white;
        font-weight: 300;
        margin: 0.5rem;
    }
    .title {
        height: 40px;
        border-bottom: 1px solid rgba(110, 110, 110, 0.5);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem 0;
        h1 {
            align-items: center;
            font-size: 20px;
            margin-top: 1rem;
        }
    }
    .ui.form {
        label {
            color: rgba(255, 255, 255, 0.55) !important;
            font-size: 12px !important;
            font-weight: 300 !important;
        }
    }
    .addButton {
        height: 100%;
        width: 100%;
        .iconHolder {
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .invert {
                color: black;
                background-color: white;
            }
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                // width: 100% !important;
                // height: 100% !important;
                width: 45px;
                height: 45px;
                font-size: 1.5rem;
                border-radius: 49.9%;
            }
        }
        .btn {
            width: auto;
            height: auto;
            padding: 12px 3rem;
            border: 1px solid orange;
        }
    }
}