<!-- <button class="btn btn-primary" (click)="postTransaction()">click</button> -->

<div class="blackboard">
    <div class="title">
        <h1 class="mx-4">Add transaction</h1>
    </div>
    <form class="px-3 mt-2" [formGroup]="addForm" autocomplete="off">
        <mat-form-field class="custColor" appearance="outline" class="w-100">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Amount in local currency" class="w-100" type="number" formControlName="amount">
        </mat-form-field>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <mat-form-field class="custColor" appearance="outline" class="w-50 me-2">
                <mat-label>Debit/Credit</mat-label>
                <mat-select formControlName="type_of_trans">
                    <mat-option value="debit">Debit (expense)</mat-option>
                    <mat-option value="credit">Credited (income)</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-50 ml-2">
                <mat-label>Payment mode</mat-label>
                <mat-select formControlName="payment_mode">
                    <mat-option value="cash">Cash</mat-option>
                    <mat-option value="atm_card">ATM card</mat-option>
                    <mat-option value="upi">UPI</mat-option>
                    <mat-option value="bank_transfer">Bank transfer</mat-option>
                    <mat-option value="cheque">Cheque</mat-option>
                    <mat-option value="others">Others</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category of Transaction</mat-label>
            <mat-select formControlName="cat_of_trans" autoActiveFirstOption>
                <mat-option *ngFor="let option of catergoryOptions" [value]="option.value">
                    {{option.name}}
                </mat-option>
                <mat-option (click)="$event.preventDefault();openDialog()" style="opacity: 0.72;">
                    <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
                    <span>Add or remove categories</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <mat-form-field appearance="outline" class="w-50 mr-1">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="trans_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-50 ml-1">
                <mat-label>Transaction Hour</mat-label>
                <input matInput placeholder="Choose from the options below" class="w-100" type="time" placeholder="24:00" formControlName="trans_hour">
            </mat-form-field>
        </div>
        <mat-form-field class="custColor" appearance="outline" class="w-100">
            <mat-label>Comment / hint</mat-label>
            <input matInput placeholder="What is the transaction about" class="w-100" type="text" maxlength="30" formControlName="comment">
        </mat-form-field>
        <button mat-raised-button class="my-2" (click)=" $event.preventDefault();postTransaction()">Add transaction</button>
    </form>
</div>