<div class="parent">
    <div class="div1">
        <add-trans></add-trans>
    </div>
    <div class="div2">
        <recent-transaction></recent-transaction>
    </div>
    <div class="div3">
        <h3>Major transaction category</h3>
        <div class="chart">
            <apex-treemap></apex-treemap>
        </div>
    </div>
    <div class="div4 card-height">
        <card1x></card1x>
    </div>
    <div class="div5 card-height">
        <!-- <card1x></card1x> -->
        <h3 class="chart-title">Monthly transaction distribution</h3>
        <apex-line-1></apex-line-1>
    </div>
</div>