<div class="background">
    <div class="heading">
        <div>Recent transactions</div>
        <button class="btn btn-outline-dark" (click)="$event.preventDefault();goTo('/transaction/full-transaction')">See detailed transaction</button>

    </div>
    <div *ngIf="data.length !== 0">
        <ng-container *ngFor="let item of data.slice(-5)">
            <div class="contents">
                <div class="icn">
                    <i [class]="item.icon + ' icon'"></i>
                </div>
                <div class="comment">
                    {{item.comment}}
                </div>
                <div class="dt">
                    {{item.timeStamp}}
                </div>
                <div class="amt">{{item.amount}}</div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="data.length === 0" class="content-filler">
        <div class="vector">
            <img src="../../../assets/add.svg" alt="Add files svg.">
        </div>
        <div class="text"><b>Add a transaction</b><br>to see list of recent transactions</div>
    </div>
</div>

<!-- <material-table></material-table> -->