<div class="background">
    <div class="heading">
        <div>Transactions</div>
        <div>date</div>
    </div>
    <ng-container *ngFor="let item of data">
        <div class="contents">
            <div class="icn">
                <i [class]="item.icon + ' icon'"></i>
            </div>
            <div class="comment">
                {{item.comment}}
            </div>
            <div class="dt">
                {{item.timeStamp}}
            </div>
            <div class="amt">{{item.amount}}</div>
        </div>
    </ng-container>
</div>