<div id="chart" *ngIf="tree_chart_data.length > 0">
    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [dataLabels]="chartOptions.dataLabels!" [colors]="chartOptions.colors!" [plotOptions]="chartOptions.plotOptions!"></apx-chart>
</div>
<div class="chart" *ngIf="tree_chart_data.length <= 0">
    <div class="filler">
        <div class="vector">
            <img src="../../../../assets/chart.svg" alt="Pie chart placeholder.">
        </div>
        <div class="text">
            No transaction record exists!
        </div>

    </div>

</div>