<div class="container">
    <div class="d-flex flex-row justify-content-between align-content-around">
        <div class="sec1 my-3">
            <div class="content-1x">Hi Mohamed,</div>
            <div class="content-3x">Welcome back</div>
        </div>
        <div class="sec1 my-3">
            <div class="img"><img src="../../../assets/small_character_illustrations.svg" alt=""></div>
        </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Account settings">
            <div class="mt-3">
                <!-- Content 1 -->
                <h3>Update profile data</h3>
                <form [formGroup]="profile_form" class="d-flex flex-row justify-content-between align-items-center">
                    <mat-form-field appearance="outline" class="w-100 mr-1">
                        <mat-label>Full name</mat-label>
                        <input matInput type="text" formControlName="full_name">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100 ml-1">
                        <mat-label>Mobile number</mat-label>
                        <input matInput formControlName="mobile" type="tel">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100 ml-1">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email">
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" class="mt-2" (click)="patch_changes()">Update changes</button>

                <h3>Update password</h3>
                <div class="password">
                    <mat-form-field appearance="outline" class="w-100 mat-alter">
                        <mat-label>New password</mat-label>
                        <input matInput type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100 mat-alter">
                        <mat-label>Confirm password</mat-label>
                        <input matInput type="password">
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="mt-2">Change password</button>
                </div>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
        </mat-tab>
        <mat-tab label="FAQ">
            <div class="mt-3">
                Content 2
            </div>
        </mat-tab>
        <mat-tab label="Connect with us">
            <div class="mt-3">
                Content 3
            </div>
        </mat-tab>
    </mat-tab-group>

</div>