.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 1rem;
    .image {
        width: 600px;
        height: 400px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}